<h1>{{ pageTitle }}</h1>

<div class="container" style="margin-top:20px;">

    <form method="post" action="/gallery">
        <div class="form-group row">
            <label class="col-sm-3">Author</label>
            <div class="col-md-9">
                <input type="text" class="-form-control" name="author">
            </div>
              <label class="col-sm-3">Link</label>
            <div class="col-md-9">
                <input type="text" class="-form-control" name="link">
            </div>
              <label class="col-sm-3">Description</label>
            <div class="col-md-9">
                <input type="text" class="-form-control" name="description">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>