<h1>{{ pageTitle}}</h1>

<div class="container">

    <form>
        <label for="author">Author</label>
        <input type="text">

        <label for="link">link</label>
        <input type="text">

        <label for="description">description</label>
        <input type="text">

        <button type="submit">Submit</button>
    </form>
</div>